<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main">
    <h1>
      Ashiii
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias debitis, eius itaque harum velit officia mollitia distinctio repellat magnam illum molestiae, praesentium, magni perspiciatis? Ad dicta itaque sint aspernatur iure soluta ut eveniet quos ea culpa error dolorum hic illo cum cumque quis sunt est, accusamus sapiente porro! Voluptatem labore excepturi deserunt dolores voluptate aliquam quidem expedita minus ullam rem laborum esse, dolore distinctio sit exercitationem odit atque, aut rerum hic maxime obcaecati laudantium illum nesciunt. Blanditiis laboriosam explicabo ipsum sunt recusandae doloremque nulla ut, iste, reiciendis laudantium quidem aliquam voluptatibus 
      aspernatur fuga aperiam, dolore beatae minus at quis vitae!</p>
  </div>
</body>
</html>
<router-outlet></router-outlet>
